---
import { getCollection } from "astro:content";

import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";

export async function getStaticPaths() {
  const recipes = await getCollection("recipes");
  const uniqueIngredients = [
    ...new Set(
      recipes
        .filter((recipe) => (recipe.data.ingredient ? recipe : false))
        .map((recipe) => recipe.data.ingredient)
        .flat()
    ),
  ];

  return uniqueIngredients.map((ingredient) => {
    const filteredRecipes = recipes
      .filter((recipe) => (recipe.data.ingredient ? recipe : false))
      .filter((recipe) => recipe.data.ingredient.includes(ingredient));
    return {
      params: { ingredient },
      props: { recipes: filteredRecipes },
    };
  });
}

const { ingredient } = Astro.params;
const { recipes } = Astro.props;
---

<Layout title={ingredient}>
  <header class="">
    <div class="container flow">
      <h1>Recipes filed under {ingredient}</h1>
    </div>
  </header>
  <ul id="recipes" role="list" class="link-card-grid container">
    {
      recipes.map((recipe) => (
        <Card
          href={`/recipes/${recipe.slug}`}
          title={recipe.data.title}
          body={recipe.data.summary}
          tags={recipe.data.tags}
        />
      ))
    }
  </ul>
</Layout>
