---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Tags from "../components/Tags.astro";
import Ingredients from "../components/Ingredients.astro";

const recipes = await getCollection("recipes");

const tags = [...new Set(recipes.filter((recipe) => recipe.data.tags ? recipe : false).map((recipe) => recipe.data.tags).flat())];

const ingredients = [...new Set(recipes.filter((recipe) => recipe.data.ingredient ? recipe : false).map((recipe) => recipe.data.ingredient).flat())];;
// const allIngredients = recipes.flatMap((recipe) => recipe.data.ingredient && recipe.data.ingredient.length);

// console.log(allIngredients)

// allIngredients.forEach((ingredient) => {
//   if (ingredients.includes(ingredient)) return;
//   ingredients.push(ingredient.toLowerCase());
// });

---

<Layout title="Vegan Home Cooking by Tiff & Laura">
  <header class="">
    <div class="container flow">
      <h1>Vegan Homecooking by Tiff & Laura</h1>

      <p class="text-step-1">
        A personal reference and chronicle for our favorite vegan original and
        adapted vegan recipes.
      </p>
      <Tags tags={tags} />
      <Ingredients ingredients={ingredients}/>
    </div>
  </header>

  <ul id="recipes" role="list" class="container link-card-grid">
    {
      recipes.map((recipe) => (
        <Card
          href={`/recipes/${recipe.slug}`}
          title={recipe.data.title}
          body={recipe.data.summary}
          tags={recipe.data.tags}
        />
      ))
    }
  </ul>
</Layout>

