---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Tags from "../components/Tags.astro";

const recipes = await getCollection("recipes");

const tags = [];
const allTags = recipes.flatMap((recipe) => recipe.data.tags);

allTags.forEach((tag) => {
  if (tags.includes(tag)) return;
  tags.push(tag.toLowerCase());
});
---

<Layout title="Vegan Home Cooking by Tiff & Laura">
  <header class="bg-accent-200">
    <div class="container flow">
      <h1>Vegan Homecooking by Tiff & Laura</h1>

      <p class="">
        A personal reference and chronicle for our favorite vegan original and
        adapted vegan recipes.
      </p>
      <Tags tags={tags} />
    </div>
  </header>

  <ul id="recipes" role="list" class="link-card-grid">
    {
      recipes.map((recipe) => (
        <Card
          href={`recipes/${recipe.slug}`}
          title={recipe.data.title}
          body={recipe.data.summary}
          tags={recipe.data.tags}
        />
      ))
    }
  </ul>
</Layout>

<style>
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  
</style>
