---
import Layout from "./Layout.astro";
import Tags from "../components/Tags.astro";

const { title, summary, tags, source } = Astro.props.frontmatter;
---

<Layout title={title}>
  <article>
    <header class="">
      <div class="container flow">
        <h1>{title}</h1>
        {summary && <p class="text-step-1">{summary}</p>}
        {
          source && (
            <p>
              <a href={source}>Original Recipe</a>
            </p>
          )
        }
        {tags && <Tags tags={tags} />}
      </div>
    </header>
    <div class="container flow markdown">
      <slot />
    </div>
  </article>
</Layout>
<style></style>
